.display-none {
    display: none;
    }

body {
    color: var(--text-light);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h5 {
    display: inline-block;
}

.survey-container {
    /* width: 1000px; */
    margin: 0 auto;
}

.form-container {
    padding: 60px 25px;
    margin: 0 auto;
    /* text-align: center; */
}



.btn {
    margin: 0 12px;
    color: var(--primary-color-light);
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    padding: 8px 16px;
}

.mybtn{
    border-radius: 12px;
    border-radius: 24px;
    display: inline-block;
    border: none;
    min-width: 100px;

}

.--primary {
    margin: 0 8px;
    color: #fff;
    background-color: #2d42af;
}

.--cancled {
    color: #fff;
    background-color: #cfd0da;
}

.btn.--cancled:hover {
    color:#6b6b70;
    border: 1px solid;
    border-color: #6b6b70;
    /* background-color: #cfd0da; */

}

.btn:hover {
    color: var(--primary-color);
}

.btn.--primary:hover {
    border: 1px solid;
    border-color: var(--primary-color);
}

.mybtn:disabled {
    color: var(--text-light);
    border: none;
}


.form-label {
    color: var(--text-light);
}


.form-check {
    height: 50px;
    width: fit-content;
}

.mrow {
    margin: -8px;
}

.mrow::after {
    content: "";
    display: block;
    clear: both;
}

.mcol {
    float: left;
    padding: 8px;
}

.mcol-3 {
    width: calc(1/3*100%);
}

/* table */
.table {
    font-size: .9em;
}

.table-input {
    border: none;
    background-color: transparent;
    width: 100%;
}

/* header */
.header-infor-container {
    /* text-align: center; */
    justify-content: space-between !important;
    padding: 16px 0;
    margin-bottom: 8px;
}

.header-label {
    line-height: 2.3em;
    text-align: left;
    margin-right: 8px;
    display: inline-block;
    width: 200px;
}

.header-title {
    display: inline-block;
    height: 2.3;
    line-height: 2.3;
    text-align: center;
    margin-bottom: 16px;
}

.header-title h5 {
    margin-bottom: 0 !important;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}

.header-wrapper-right {
    float: right;
}

.header-wrapper {
    display: block;
    margin: 8px 0;

}

.header-hhsize-wrapper {
    display: inline-block;
}

.header-form {
    display: inline-block;
    max-width: 100%;
}

.addr-form {
    /* width: fit-content ; */
    width: 400px;
}

.size-form {
    width: 52px;
}

.size-btn {
    margin: 0 4px !important;
    display: inline=block;
    max-width: 70px !important;
    padding: 8px 8px !important;
}




/* person */

.person-btn {
    width: 26px;
    text-align: center;
    margin: 0 4px;
}
.person-btn i {
    /* align-self: center; */
    transform: translateX(-40%);
}

.person-wrapper {
    padding: 8px 30px;
}

.size-input {
    max-width: 100px;
}

/* pop up */

.model-addr-wrapper {
    /* position: absolute; */
}

.select-occupation-wrapper, .select-addr-wrapper {
    position: relative;
}

.option-list {
    max-height: 200px;
    min-width: 250px;
    overflow-y: scroll;
    position: absolute;
    z-index: 200;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}

.option-list a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 16px;
    /* min-width: 230px; */
}

.option-list a:hover {
    background-color: #f1f1f1;
    color: #000;
}

/* sinh hoat gia dinh */
#travel-often-wrapper{
    padding: 0 16px;
}


/* model */
.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1000;
}

.model-container {
    background: #fff;
    width: 970px;
    max-height: 540px;
    max-width: calc(100% - 32px); 
    width: 100%;
    position: relative;
    overflow-y: hidden;
    /* transform: translateY(-50%); */
    animation: ModelFadin ease .3s;
    padding: 10px 0 20px 0;
    border-radius: 14px;
    /* text-align: center; */
    justify-content: center;
}

.mdoel-scroll-container {
    max-height: 520px;
    padding: 60px 35px 45px 35px;
    overflow-y: auto;
}

.model.open {
    display: flex;
}




/* modifier */
.red-placeholder::placeholder {
    color: red;
    opacity: 1;
}

.red-placeholder::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
   }
   
.red-placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

@keyframes ModelFadin {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}