html {

}

body {
    color: var(--text-light);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h5 {
    display: inline-block;
}

.survey-container {
    /* width: 1000px; */
    margin: 0 auto;
}

.form-container {
    padding: 60px 25px;
    margin: 0 auto;
}


.btn {
    color: var(--primary-color-light);
    margin: 0 12px;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    border: none;
}

.mybtn-primary {
    border-radius: 24px;
    display: inline-block;
    border: none;
}

.mybtn-primary:hover {
    border: 1px solid;
    border-color: var(--primary-color);
}

.mybtn-primary:disabled {
    color: var(--text-light);
    border: none;
}

.icon-btn {

}

.form-label {
    color: var(--text-light);
}

.btn:hover {
    color: var(--primary-color);
}

.form-check {
    height: 50px;
    width: fit-content;
    z-index: 100000;
}

/* table */
.table {
    font-size: .9em;
}

.table-input {
    border: none;
    background-color: transparent;
    width: 100%;
}

/* header */
.header-infor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
}

.header-label {
    line-height: 2.3em;
    text-align: center;
    margin-right: 8px;

}

.header-title {
    display: inline-block;
    text-align: center;
}

.header-title h5 {
    margin-bottom: 0 !important;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}
.header-wrapper {
    display: flex;
    flex-direction: row;
}

.header-form {
    /* width: fit-content; */
    max-width: 100%;
}

.addr-form {
    width: 420px;
}

.size-form {
    width: 52px;
}

.size-btn {
    max-width: 70px;
}





/* person */

.person-btn {
    width: 20px;
    text-align: center;
    margin: 0;
}

.person-wrapper {
    padding: 8px 30px;
}

.size-input {
    max-width: 100px;
}

.person-btn-col {
    display: flex;
    max-width: 120px;
    flex-direction: column;
    align-items: center;
}

/* model */
.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.model-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: ModelFadin ease .3s;
    padding: 60px 25px 45px 25px;
    border-radius: 14px;
}

.model.open {
    display: flex;
}


/* modifier */
.red-placeholder::placeholder {
    color: red;
    opacity: 1;
}

.red-placeholder::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
   }
   
.red-placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

@keyframes ModelFadin {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}