<link rel="stylesheet" href="{{url_for('static', filename='css/survey.css')}}">
<div class="survey-container container">
    <form action="/add-family" method="post"  id="form1" class="form-container form-control">
      <h4 class="mb-5 text-center">Phiếu khảo sát</h4>

      <table class="table table-striped table-responsive">
        <thead>

          <div  class="header-infor-container mrow">

            <div class="header-title">
              <h5>Thông tin chung</h5>
            </div>
    
            <!-- <div class="header-wrapper-right"> -->
              <div class="header-wrapper">
                <div class="header-addr-wrapper">
                   <label for="" class="header-label">Địa chỉ gia đình</label>
                  <input type="text" class="form-control header-form addr-form model-btn" placeholder="..." id="family-addr" name="family-addr" model="family-addr" required />
                  <!-- <input type="text" id="test"  required> -->
                
                </div>
              </div>
      
              <div class="header-wrapper">
                    <label for="" class="header-label">Số lượng thành viên</label>
                    <div class="header-hhsize-wrapper">
                      <button class="btn size-btn" id="minus-person">
                        <i class="fa-solid fa-user-minus"></i>
                      </button>
                      <input type="number" class="form-control header-form size-form" name="household-size" id="household-size" value="1"  min="1">
                      <button class="btn size-btn" id="add-person">
                        <i class="fa-solid fa-user-plus"></i>
                      </button>
                    </div>
              </div>
      
            <!-- </div> -->
          </div>

          <tr>
            <th scope="col-1">STT</th>
            <th scope="col-2">Giới tính</th>
            <th scope="col-2">Năm sinh</th>
            <th scope="col-4">Địa chỉ</th>
            <th scope="col-2">Nghề nghiệp</th>
            <th scope="col-2" >Thao tác</th>
          </tr>
        </thead>
        <tbody id="persons-wrapper">

          <tr id="person_1" class="person-wrapper">
            <th class="p_num" scope="row">1</th>
            <td class="col-1">
              <input type="text" class="table-input model-btn" autocomplete="off" placeholder="..." person="1" id="gender_1" name="gender_1" required>
            </td>
            <td class="col-1">
              <input type="text" class="table-input model-btn" autocomplete="off" placeholder="..." person="1" id="birth-year_1" name="birth-year_1" required>
            </td>
            <td class="col-6">
              <input type="text" class="table-input model-btn" autocomplete="off" placeholder="..." person="1" id="addr_1" name="addr_1" required>
            </td>
            <td class="col-2">
              <input type="text" class="table-input model-btn" autocomplete="off" placeholder="..." person="1" id="occupation_1" name="occupation_1" required>
            </td>

            <td class="col-2">
              <button id="person-edit_1" class="btn person-btn model-btn" person="1" model="person">
                <i class="fa-solid fa-rotate-right"></i>
              </button>
              <button id="person-remove_1" class="btn person-btn" person="1">
                <i class="fa-solid fa-user-xmark"></i>
              </button>
            </td>
          </tr>



        </tbody>
      </table>  
      
      

      <h5 class="mb-3">Sinh hoạt gia đình</h5>
      <div class="family-habit-wrapper">
        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="private-room" name="private-room">
          <label class="form-check-label" for="private-room">Có phòng riêng cho các thành viên</label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="di-truyen" name="di-truyen">
          <label class="form-check-label" for="di-truyen">Gia đình có tiểu sử bệnh di truyền</label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="di-ung" name="di-ung">
          <label class="form-check-label" for="di-ung">Có thành viên có bệnh dị ứng</label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="tiep-xuc" name="tiep-xuc">
          <label class="form-check-label" for="tiep-xuc">Có tiếp xúc với người mắc bệnh truyền nhiễm trong 6 tháng qua</label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="dinh-duong" name="dinh-duong">
          <label class="form-check-label" for="dinh-duong">Có thói quen ăn uống và dinh dưỡng lành mạnh</label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="an-chung" name="an-chung">
          <label class="form-check-label" for="an-chung">Có thói quen dùng cơm chung</label>
        </div>

        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" role="switch" id="gan-kcn" name="gan-kcn">
          <label class="form-check-label" for="gan-kcn">Gia đình sinh sống gần khu công nghiệp</label>
        </div>

        <div id="travel-wrapper">
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="travel-input" name="travel-input">
            <label class="form-check-label" for="travel-input">Có thường xuyên đi du lịch</label>
          </div>

          <div id="travel-often-wrapper" class="mrow display-none">
            <div class="mb-3 mcol mcol-3 s-col-full form-check">
              <input class="form-check-input" type="radio" name="travel-often" id="travel-often1" value="1">
              <label class="form-check-label" for="travel-often1">
                Hàng tuần
              </label>
            </div>
            <div class="mb-3 mcol mcol-3 s-col-full form-check">
              <input class="form-check-input" type="radio" name="travel-often" id="travel-often2" value="2">
              <label class="form-check-label" for="travel-often2">
                Hàng tháng
              </label>
            </div>

            <div class="mb-3 mcol mcol-3 s-col-full form-check">
              <input class="form-check-input" type="radio" name="travel-often" id="travel-often2" value="3">
              <label class="form-check-label" for="travel-often2">
                3 tháng / lần
              </label>
            </div>

          </div>

          <script>
            const travel_wrapper = document.querySelector('#travel-often-wrapper')
            const travel_input = document.querySelector('#travel-input')

            travel_input.addEventListener('change', ()=>{
              let value = travel_input.checked
              console.log(value)
              if(value)
              {
                travel_wrapper.classList.remove('display-none')
              }
              else travel_wrapper.classList.add('display-none')
            })
          </script>
        
        </div>

        

      </div>

      <button type="submit" class="btn mybtn --primary">Gửi kết quả</button>

    </form>

  
    
    <div class="model js-model">
        <div class="model-container js-model-container">
          <div class="mdoel-scroll-container">
            <div class="model-family-addr-warpper mb-3 display-none ">
              <h5 for="address" class="">Địa chỉ</h5>
        
              <div class="mrow model-addr-wrapper">
                <div class="mb-3 mcol mcol-3 s-col-full select-addr-wrapper">
                  <label class="form-label">Tỉnh/ Thành phố</label>
                  <input type="text" list="provinces-list" class="form-select" id="provinces" name="province" autocomplete="off" required/>
                  <div id="provinces-list" class="option-list display-none">
                    <a disabled selected>TP Hồ Chí Minh</a>
                  </div>
                </div>
        
                <div class="mb-3 mcol mcol-3 s-col-full select-addr-wrapper">
                  <label class="form-label ">Quận/ Huyện</label>
                  <input type="text" list="districts-list" class="form-select" id="districts" name="district" autocomplete="off" required/>
                  <div id="districts-list" class="option-list display-none">
                    <a disabled selected></a>
                  </div>
                </div>
        
                <div class="mb-3 mcol mcol-3 s-col-full select-addr-wrapper">
                  <label class="form-label ">Xã/ Phường/ Thị trấn</label>
                  <input type="text" list="wardses-list" class="form-select" id="wardses" name="wards" autocomplete="off" required/>
                  <div id="wardses-list"  class="option-list display-none">
                    <a disabled selected></a>
                  </div>
                </div>
              </div>
    
    
            </div>
    
            <div class="mb-3 model-person-wrapper display-none"> 
              <h5 class="mb-3">Thông tin thành viên</h5>
              <div class="model-person-wrapper mrow">
    
                <div class="mcol mcol-3 s-col-full">
                  <label for="" class="form-label">Giới tính</label>
                  <select class="form-select" id="gender-input" name="gender">
                    <!-- <option selected disabled></option> -->
                    <option >Nam</option>
                    <option >Nữ</option>
                    <option >Khác</option>
                  </select>
                </div>
      
                <div class="mcol mcol-3 s-col-full">
                  <label class="form-label">Năm sinh</label>
                  <input type="text" class="form-control" id="birth-year-input" name="birth-year" autocomplete="off"/>     
                        <script type="text/javascript">
                          $( document ).ready(function() {
                              $("#birth-year-input").datepicker({
                                  format: "yyyy",
                                  viewMode: "years", 
                                  minViewMode: "years",
                                  autoclose: true
                              });
      
                              $("#birth-year-input").change(()=>{
                                const elem = $("#birth-year-input")
                                const y = elem.val()
                                const cur_y = new Date().getFullYear() 
                                if(y > cur_y)
                                {
                                  elem.val('')
                                  elem.addClass('red-placeholder')
                                  elem.attr('placeholder', `Không quá ${cur_y}`)
                                }
                              })
                          });
                      </script>
                </div>
      
                <div class="mcol mcol-3 s-col-full select-occupation-wrapper">
                  <label class="form-label">Nghề nghiệp</label>
                  <input class="form-select" type="text" id="occupation-input" name="occupation" autocomplete="off">
                  <div id="occupation-list" class="option-list display-none">
                  </div>   
                </div>
              </div>
  
              <div id="p-addr-wrapper" class="mrow model-addr-wrapper">
                
                <div class="mcol mcol-3 s-col-full select-addr-wrapper">
                  <label class="form-label">Tỉnh/ Thành phố</label>
                  <input type="text" list="person-provinces-list" class="form-select" id="person-provinces" name="p-province" autocomplete="off"/>
                  <div id="person-provinces-list" class="option-list display-none">
                    <a disabled selected></a>
                  </div>
                </div>
      
                <div class="mcol mcol-3 s-col-full select-addr-wrapper">
                  <label class="form-label">Quận/ Huyện</label>
                  <input type="text" list="person-districts-list" class="form-select" id="person-districts" name="p-district" autocomplete="off"/>
                  <div id="person-districts-list" class="option-list display-none">
                    <a disabled selected></a>
                  </div>
                </div>
      
                <div class="mcol mcol-3 s-col-full select-addr-wrapper">
                  <label class="form-label">Xã/ Phường/ Thị trấn</label>
                  <input type="text" list="person-wardses-list" class="form-select" id="person-wardses" name="p-wards" autocomplete="off"/>
                  <div id="person-wardses-list" class="option-list display-none">
                    <a disabled selected></a>
                  </div>
                </div>
    
              </div>
    
                <!-- <script>
                  const checkbox = document.getElementById("flexCheckChecked");
                  const addressInput = document.getElementById("address-warpper mb-3");
                
                  checkbox.addEventListener("change", function () {
                    if (checkbox.checked) {
                      addressInput.style.display = "block";
                    } else {
                      addressInput.style.display = "none";
                    }
                  });
                </script> -->
            
            </div>
            <div class="button-wrapper">
              <button id="model-cancel" class="btn mybtn --cancled model-close">Hủy</button>
              <button type="submit" id="model-ok" class="btn mybtn --primary model-close" disabled>OK</button>
            </div>
            
          </div>


        </div>   
      
    </div>
  </div>
  <script src="{{url_for('static', filename='js/survey.js')}}" >