{%extends 'base.html'%}

{%block title%}Statistic | Diseases Simulation{%endblock%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/stat.css')}}">
    <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
    <!-- <script scr="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

{%endblock%}

{%block content%}
    <!-- <script id="wix-first-paint">
      if (window.ResizeObserver && (!window.PerformanceObserver || !PerformanceObserver.supportedEntryTypes || PerformanceObserver.supportedEntryTypes.indexOf('paint') === -1)) {
        new ResizeObserver(function(entries, observer) {
          entries.some(function(entry) {
            var contentRect = entry.contentRect;
            if (contentRect.width > 0 && contentRect.height > 0) {
              requestAnimationFrame(function(now) {
                window.wixFirstPaint = now;
                dispatchEvent(new CustomEvent('wixFirstPaint'));
              });
              observer.disconnect();
              return true;
            }
          });
        }).observe(document.body);
      }
    </script> -->
    
    <main id="PAGE_SECTIONSuk6in" class="PAGE_SECTIONSuk6in c1rIl3" data-main-content-parent="true">
        <section id="comp-kvupzas5" tabindex="-1" class="xuzjBY comp-kvupzas5-container comp-kvupzas5 wixui-section undefined" data-testid="section-container">
        <div id="backgrndImage_container-15823" data-testid="imageX" class="z4Uj6S backgrndImage_container-15823 wixui-image clearfix">
            <style data-testid="scrollEffectStyle">
            #backgrndImage_container-15823 img {
                height: 100%
            }
            </style>
        </div>
        <div id="pageTitle_container-15823" class="BaOVQ8 tz5f0K pageTitle_container-15823 wixui-rich-text" data-testid="richTextElement" data-angle="0" data-angle-style-location="style" data-screen-in-hide="done" style="visibility: inherit;">
            <h1 class="font_2 wixui-rich-text__text">
            <span class="wixui-rich-text__text">Tổng hợp thông tin khảo sát</span>
            </h1>
        </div>
        <div id="InstructPosition_container-15823" class="InstructPosition_container-15823">
            <div id="wrapper-InstructPosition_container-15823" dir="ltr" class="CollapsibleTextcomponent2568482278__root InstructText_Formater-15823 wixui-collapsible-text" data-testid="ellipsis_text_viewer_root" aria-label="" role="group">
            <!-- <button class="CollapsibleTextcomponent2568482278__expand-control wixui-collapsible-text__button" data-testid="ellipsis_text_viewer_expand_control" aria-pressed="true" aria-describedby="wrapper-InstructPosition_container-15823">Thu gọn</button> -->
            <div class="InstructText-15823-wrapper">
                <p class="InstructText-15823 CollapsibleTextcomponent2568482278---wrappingStyle-10-multi-line wixui-collapsible-text__text">Chọn các tùy chọn bên dưới để được quan sát các biểu đồ, đồ thị,... trực quan hóa các dữ liệu đã thu thập được.</p>
                <p class="InstructText-15823 CollapsibleTextcomponent2568482278---wrappingStyle-10-multi-line wixui-collapsible-text__text">Lưu ý: Dữ liệu của từng cá nhân được đảm bảo bí mật và riêng tư. Chỉ có những khái quát chung về dữ liệu được thể hiện bên dưới.</p>
            </div>
            </div>
        </div>
        <div id="optionBox_container-15823" class="QOX0dS JCRlLH optionBox_container-15823-container-fluid optionBox_container-15823 wixui-box">
            <style>
                .col-sm-4 {
                    flex: 0 0 auto;
                    width: 36.6%;
                }
            </style>
            <div id="options_container-2823"class="container-fluid">
                <style>
                    @media screen and (max-width: 1015px){
                        #desktop_option_box-21823{display: none;}
                        #mobile_option_box-21823{display: block;}
                    }
                    @media screen and (min-width: 1015px){
                        #desktop_option_box-21823{display: flex;}
                        #mobile_option_box-21823{display: none;}
                    }
                    #mobile_option_box-21823 .carousel-control-next, .carousel-control-prev{
                        height: 20px;
                        width: 20px;
                    }
                    #mobile_option_box-21823 .carousel-indicators{
                        margin-bottom: -40px;
                        /* margin-top: 100px; */
                        /* padding-top: 100px; */
                    }
                    #mobile_option_box-21823 .carousel-item{
                        margin-top: 30px;
                    }
                    #mobile_option_box-21823 .row{
                        display: flex;
                        width: 100%;
                        align-self: center;
                        justify-self: center;
                        padding-top: 5px;
                        margin: 0 0;
                    }
                    
                </style>
                <div id="desktop_option_box-21823" class="row justify-content-center" style="margin-top: 3%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
                    <div class="col mb-3" style="max-width: 400px;">
                        <label class="form-labe1">Tỉnh/Thành phố</label>
                        <br>
                        <!-- <div class="container-fluid text-center"> -->
                            <div class="row align-items-center">
                                <div class="col" style="max-width: 125px;">
                                    <!-- <div class="option_buttons"> Tổng quát</div> -->
                                    <input type="checkbox" class="btn-check" id="btn-check-outlined-1" autocomplete="off">
                                    <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-1">Tổng quát</label>
                                </div>
                                <div class="col">
                                    <select class="form-select addr_attribute" aria-label="Default select example" id="province_name" name="provinces_stat">
                                        <option selected>None</option>
                                        <option >test</option>
                                    </select>
                                </div>
                            </div>
                        <!-- </div> -->
                        
                    </div>
                    <div class="col-3 mb-3">
                        <label class="form-labe1 ">Quận/Huyện/Thị xã</label>
                        <br>
                        <!-- <div class="container-fluid text-center"> -->
                            <div class="row align-items-center">
                                <!-- <div class="col-sm-4">
                                    <div class="option_buttons"> Tổng quát</div>
                                    <input type="checkbox" class="btn-check" id="btn-check-outlined-2" autocomplete="off">
                                    <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-2">Tổng quát</label>
                                </div> -->
                                <div class="col">
                                    <select class="form-select addr_attribute" aria-label="Default select example" id="districts_stat" name="districts_stat">
                                        <option disabled selected>None</option>
                                    </select>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-3 mb-3">
                        <label class="form-labe1">Phường/Xã/Thị trấn</label>
                        <br>
                        <!-- <div class="container-fluid text-center"> -->
                            <div class="row align-items-center">
                                <!-- <div class="col-sm-4">
                                    <div class="option_buttons"> Tổng quát</div>
                                    <input type="checkbox" class="btn-check" id="btn-check-outlined-3" autocomplete="off">
                                    <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-3">Tổng quát</label>
                                </div> -->
                                <div class="col">
                                    <select class="form-select addr_attribute" aria-label="Default select example" id="wards_stat" name="wards_stat">
                                        <option disabled selected>None</option>
                                    </select>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3" style="margin-top: 1%; margin-bottom: 1%; margin-left: 3%; margin-right: 2%;height: 50px;  width: 180px; ">
                            <label class="form-labe1 ">Nhóm tuổi</label>
                            <!-- <div class="col-sm-4"> -->
                                <input type="checkbox" class="btn-check" id="btn-check-outlined-4" autocomplete="off">
                                <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-4" style="margin-left: 10px;">Chọn</label>
                            <!-- </div> -->
                        </div>
                        <div class="col-3" style="margin-top: 1%; margin-bottom: 1%; margin-left: 3%; margin-right: 2%;height: 50px;  width: 180px; ">
                            <label class="form-labe1 ">Nghề nghiệp</label>
                            <!-- <div class="col-sm-4"> -->
                                <input type="checkbox" class="btn-check" id="btn-check-outlined-5" autocomplete="off">
                                <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-5" style="margin-left: 10px;">Chọn</label>
                            <!-- </div> -->
                        </div>
                        <div class="col-3" style="margin-top: 1%; margin-bottom: 1%; margin-left: 3%; margin-right: 2%;height: 50px;  width: 180px; ">
                            <label class="form-labe1 ">Giới tính</label>
                            <!-- <div class="col-sm-4"> -->
                                <input type="checkbox" class="btn-check" id="btn-check-outlined-6" autocomplete="off">
                                <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-6" style="margin-left: 10px;">Chọn</label>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div id="mobile_option_box-21823" class="carousel slide">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#mobile_option_box-21823" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#mobile_option_box-21823" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <label class="form-labe1">Tỉnh/Thành phố</label>
                                <br>
                                <!-- <div class="container-fluid text-center"> -->
                                    <div class="row align-items-center">
                                        <div class="col" style="max-width: 125px;">
                                            <!-- <div class="option_buttons"> Tổng quát</div> -->
                                            <input type="checkbox" class="btn-check" id="btn-check-outlined-1" autocomplete="off">
                                            <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-1">Tổng quát</label>
                                        </div>
                                        <div class="col">
                                            <select class="form-select addr_attribute" aria-label="Default select example" id="province_name" name="provinces_stat">
                                                <option selected>None</option>
                                                <option >test</option>
                                            </select>
                                        </div>
                                    </div>
                                <!-- </div> -->
                                
                            </div>
                            <div class="row">
                                <label class="form-labe1 ">Quận/Huyện/Thị xã</label>
                                <br>
                                <!-- <div class="container-fluid text-center"> -->
                                    <div class="row align-items-center">
                                        <!-- <div class="col-sm-4">
                                            <div class="option_buttons"> Tổng quát</div>
                                            <input type="checkbox" class="btn-check" id="btn-check-outlined-2" autocomplete="off">
                                            <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-2">Tổng quát</label>
                                        </div> -->
                                        <div class="col">
                                            <select class="form-select addr_attribute" aria-label="Default select example" id="districts_stat" name="districts_stat">
                                                <option disabled selected>None</option>
                                            </select>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="row">
                                <label class="form-labe1">Phường/Xã/Thị trấn</label>
                                <br>
                                <!-- <div class="container-fluid text-center"> -->
                                    <div class="row align-items-center">
                                        <!-- <div class="col-sm-4">
                                            <div class="option_buttons"> Tổng quát</div>
                                            <input type="checkbox" class="btn-check" id="btn-check-outlined-3" autocomplete="off">
                                            <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-3">Tổng quát</label>
                                        </div> -->
                                        <div class="col">
                                            <select class="form-select addr_attribute" aria-label="Default select example" id="wards_stat" name="wards_stat">
                                                <option disabled selected>None</option>
                                            </select>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <label class="form-labe1 ">Nhóm tuổi</label>
                                <!-- <div class="col-sm-4"> -->
                                    <input type="checkbox" class="btn-check" id="btn-check-outlined-4" autocomplete="off">
                                    <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-4">Chọn</label>
                                <!-- </div> -->
                            </div>
                            <div class="row" >
                                <label class="form-labe1 ">Nghề nghiệp</label>
                                <!-- <div class="col-sm-4"> -->
                                    <input type="checkbox" class="btn-check" id="btn-check-outlined-5" autocomplete="off">
                                    <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-5">Chọn</label>
                                <!-- </div> -->
                            </div>
                            <div class="row" >
                                <label class="form-labe1 ">Giới tính</label>
                                <!-- <div class="col-sm-4"> -->
                                    <input type="checkbox" class="btn-check" id="btn-check-outlined-6" autocomplete="off">
                                    <label class="btn btn-outline-primary option_buttons" for="btn-check-outlined-6">Chọn</label>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#mobile_option_box-21823" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <!-- <span class="visually-hidden">trước</span> -->
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mobile_option_box-21823" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <!-- <span class="visually-hidden">Next</span> -->
                    </button>
                    </div>
            </div>
        </div>
        <style>
            #see_stat_button-3823{
                text-align: center;

            }
            #see_stat_button-3823 {
                width: 38.591085989621945%;
                height: auto;
                /* --l_display: unset; */
                top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-top-height) * var(--is-sticky));
                /* display: var(--l_display, var(--display)); */
                align-self: start;
                justify-self: center;
                /* margin-left: 0%;
                margin-right: 0.0011582653817642698%; */
                /* margin-top: 9.351312499999949px;
                margin-bottom: 0px; */
                grid-area: 3/1/3/2;
                position: relative;
                --is-sticky: 0;
                --sticky-top: 0px;
                --top: -20px;
                display: block;
            }
            
        </style>
        <div id="see_stat_button-3823" class="BaOVQ8 tz5f0K chartSectTitle_container-15823 wixui-rich-text" data-testid="richTextElement">
            <button type="button" class="btn btn-primary" id="view_stat_btn-3823" >Xem thống kê</button>
        </div>
        
        

        <div id="chart_container-8823" class="clearfix">    
            <div id="chartSectTitle_container-15823" class="BaOVQ8 tz5f0K chartSectTitle_container-15823 wixui-rich-text" data-testid="richTextElement" >
                <h5 class="font_5 wixui-rich-text__text" style="margin-top: -110px;">
                <span class="wixui-rich-text__text">Biểu đồ</span>
                </h5>
            </div>    
            <canvas id="chart-3823" ></canvas>
        </div>

        
        </section>
    </main>
    <script src="{{url_for('static', filename='js/stat.js')}}" ></script>
{%endblock%}