{% extends 'base.html' %}
{% block content %}

<div class="">
    <form action="/add-user" method="post" class="form-control">
      <h3>Collect user information</h3>
      <div class="mb-3">
        <label for="numOfMem" class="form-label">Số thành viên trong gia đình</label>
        <input type="text" class="form-control" name="name" placeholder="Nguyen Van A">
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" name="age" >
      </div>

      <p for="" class="form-label">Gender</p>
      <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" checked value="male">
        <label class="btn btn-outline-primary" for="male" >Male</label>
      
        <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" value="female">
        <label class="btn btn-outline-primary" for="female">Female</label>
      
        <input type="radio" class="btn-check" name="gender" id="others" autocomplete="off" value="others">
        <label class="btn btn-outline-primary" for="others">Others</label>
      </div>


      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" >
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>

    </form>
  </div>

{% endblock %}